{
  "presets": ["next/babel"],
  "plugins": [
    "lodash",
    [
      "styled-components",
      {
        "ssr": true,
        "minify": true,
        "transpileTemplateLiterals": true,
        "pure": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
